@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
header{
    background-color: #041931;
    padding: 10px;
    font-family: "Poppins";
    color: white;
    text-align: center;
}
nav{
    background-color: #11294b;
    text-align: center;
    padding: 1em 0;
    font-family: "Poppins";
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover{
    text-decoration: underline;
    color: rgb(0, 195, 255);
}

section{
    max-width: 800px;
    margin: 2em auto;
    padding: 1.5em;
    background-color: rgb(236, 236, 236) ;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.403);
    font-family: "Poppins";
    
}

section h2{
    border-bottom: 2px solid #ddd;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

ul{
    padding-left: 20px;
}
footer{
    background-color: #041931;
    color: white;
    text-align: center;
    padding: 1em ;
    margin-top: 3em;
    font-size: 0.9em;
    font-family: "Poppins";
}
